<a href="https://colab.research.google.com/github/anjli1810/AI_ML-ASSIGNMENT1/blob/main/Untitled38.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import pandas library
import pandas as pd

# Dataset URL
url = "https://raw.githubusercontent.com/salemprakash/EDA/main/Data/KosteckiDillon.csv"

# Read the dataset
df = pd.read_csv(url)

# Display the first few rows
print(df.head())

   rownames  id  time  dos hatype  age  airq  medication headache     sex
0         1   1   -11  753   Aura   30   9.0  continuing      yes  female
1         2   1   -10  754   Aura   30   7.0  continuing      yes  female
2         3   1    -9  755   Aura   30  10.0  continuing      yes  female
3         4   1    -8  756   Aura   30  13.0  continuing      yes  female
4         5   1    -7  757   Aura   30  18.0  continuing      yes  female